body {
   width: 100vw;
   overflow-x: hidden;
}

::-webkit-scrollbar {
   width: 18px;
   height: 18px;
}

::-webkit-scrollbar-thumb {
   border: 5px solid transparent;
   background-clip: padding-box;
   border-radius: 9999px;
   background-color: #36353a;
}

::-webkit-scrollbar-corner {
   background: transparent;
}
